<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>2FA Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

<div class="auth-wrapper">

    <div class="credentials-panel signin">

        <form action="/login" method="POST">

            <h2 class="slide-element">Login</h2>

            <div class="field-wrapper slide-element">
    <input type="email" name="username" required autocomplete="email">
    <label>Email</label>
    <i class='bx bxs-envelope'></i>
</div>

            <div class="field-wrapper slide-element">
                <input type="password" name="password" required>
                <label>Password</label>
                <i class='bx bxs-lock-alt'></i>
            </div>

            <button type="submit" class="submit-button slide-element">
                Login
            </button>

            <!-- Register Option -->
            <p class="auth-link slide-element">
                Don't have an account?
                <a href="{{ url_for('register') }}">Create Account</a>
            </p>

        </form>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>